body,
header,
#lifeOf,
#lifeOf li b::after {
    padding: 0;
    margin: 0;
}

hr {
    border: none;
}

:root {
    --readme-padding: 1rem;
    --readme-font-size: 0.75rem;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

header b,
header i {
    box-sizing: border-box;
    display: block;
    font-size: var(--readme-font-size);
    padding: var(--readme-padding);
}

header b {
    float: left;
}

header i,
#lifeOf li u {
    float: right;
}


header b::before,
header i::before,
#lifeOf,
#lifeOf li u {
    font-family: -apple-system, 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN', 'メイリオ', Sans-Serif;}

header b::before,
header i::before {
    display: block;
    font-weight: 500;
    font-size: 0.55rem;
    font-style: normal;
    font-weight: 500;
}

header b::before {
    content: 'a‿a';
}

header i::before {
    content: 'Date of birth';
}

header #age {
    font-size: 10vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#lifeOf {
    list-style: "a‿a" inside;
    font-family: -apple-system, 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN', 'メイリオ', Sans-Serif;
    font-size: var(--readme-font-size);
    padding: 2.5% 0;
    column-count: auto;
    column-width: 350px;
    column-fill: balance;
    overflow: auto;
}

#lifeOf li {
    box-sizing: border-box;
    margin: 0 1rem;
    padding: 1rem 2.5%;
    break-inside: avoid;
    pointer-events: none;
    user-select: none;
}

#lifeOf li i::before {
    content:'';
    display: inline-block;
    margin: 0.5rem;
}

#lifeOf li i::after {
    display: block;
    margin-top: 0.5rem;
    clear: both;
    font-style: normal;
    font-weight: 400;
}

#lifeOf li u {
    display: block;
    font-size: 75%;
    margin-left: var(--readme-padding);
}