header #age {
    font-family: monospace;
}

header b {
    font-family: serif;
}

header i,
#lifeOf li i {
    font-family: serif;
}

#lifeOf li i::after {
    font-family: sans-serif;
    color:#000;
    font-size: 125%;
}

#lifeOf {
    column-rule: 1px dotted #000;
}

#lifeOf li u {
    text-decoration: none;
    border: solid 1px #000;
    border-radius: 2rem;
    padding: 0.125rem 0.25rem;
}


#lifeOf li:nth-child(0) i::after {
    content: 'text here';
}

#lifeOf li:nth-child(4) i::after {
    content: 'バブが家に来た';
}


#lifeOf li:nth-child(6) i::after {
    content: '井関小学校に入学';
}

#lifeOf li:nth-child(8) i::after {
    content: '習字を習い始める';
}


#lifeOf li:nth-child(10) i::after {
    content: 'くじに当たって家族でロサンゼルスに行く';
}

#lifeOf li:nth-child(12) i::after {
    content: '阿知須中学校に入学';
}

#lifeOf li:nth-child(15) i::after {
    content: '厚狭高校に入学';
}

#lifeOf li:nth-child(15) i::after {
    content: 'バドミントンを習い始める';
}

#lifeOf li:nth-child(19) i::after {
    content: 'オーストラリア ブリスベンに行く';
}

#lifeOf li:nth-child(19) i::after {
    content: 'クイーンズランド工科大学に入学';
}

#lifeOf li:nth-child(22) i::after {
    content: '大阪に行く';
}

#lifeOf li:nth-child(22) i::after {
    content: '創造社デザイン専門学校に入学';
}
